<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rand.match.mapper.MatchingMapper">
    <insert id="chatRoomCreate" parameterType="Match" useGeneratedKeys="true" keyProperty="chatRoomId">
        INSERT INTO CHAT_ROOM VALUES();
    </insert>
    <insert id="chatRoomMemCreate" parameterType="Match">
        INSERT INTO CHAT_ROOM_MEMBERS(usr_id,chat_room_id)
               VALUES(
                      #{usrId}
                     ,#{chatRoomId}
                     )
    </insert>
    <select id="isExistChatRoom" parameterType="Match" resultType="Match" >
            SELECT CR.room_state
              FROM CHAT_ROOM CR
        INNER JOIN CHAT_ROOM_MEMBERS CRM1
                ON CR.chat_room_id = CRM1.chat_room_id
        INNER JOIN CHAT_ROOM_MEMBERS CRM2
                ON CR.chat_room_id = CRM2.chat_room_id
             WHERE CRM1.usr_id     = #{roomMem1}
               AND CRM2.usr_id     = #{roomMem2}
        UNION
            SELECT CR.room_state
              FROM CHAT_ROOM CR
        INNER JOIN CHAT_ROOM_MEMBERS CRM1
                ON CR.chat_room_id = CRM1.chat_room_id
        INNER JOIN CHAT_ROOM_MEMBERS CRM2
                ON CR.chat_room_id = CRM2.chat_room_id
             WHERE CRM1.usr_id     = #{roomMem2}
               AND CRM2.usr_id     = #{roomMem1}
    </select>
</mapper>