.loginContainer {
  display: grid;
  grid-template-columns: 5fr 5fr;
  height: $max-height-frame;
}

@media screen and (max-width: 1023px) {
  .loginContainer {
    grid-template-columns: none;
  }
}
