.mainContainer {
  @include typography('lg', 'bold');
  min-width: $min-width-frame;
  max-width: $max-width-frame;
  height: $max-height-frame;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding: 5rem;
}
