.toastContainer {
  font-size: 1.8rem;
  width: 40rem !important;
}

@media (max-width: 768px) {
  .toastContainer {
    width: 80% !important;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .toastContainer {
    width: 90% !important;
    font-size: 1.2rem;
  }
}
