@use '@/styles/base/_typography' as *;
@use '@/styles/base/_spacing' as *;
@use '@/styles/base/_colors' as *;

@mixin primaryDate {
  @include typography('caption', 'regular');
  padding: 0.2rem;
  border: 1px solid #e0e0e0;
  border-radius: $radius-xs;
  text-align: center;
  cursor: pointer;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 0.2rem;
  }

  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    color: #757575;
  }

  &:invalid::-webkit-datetime-edit {
    color: #757575;
  }

  &:focus {
    outline: none;
    border-color: $color-primary-200;
  }
}
